<div class="page-header">
  <h3>Liability #<%= @liability.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Liabilities type</dt>
      <dd>
        <% if @liability.liabilities_type.present? %>
          <a href="/liability_types/<%= @liability.liabilities_type_id %>">
            <%= @liability.liabilities_type.name %>
          </a>
        <% end %>
      </dd>

      <dt>Liabilities value</dt>
      <dd><%= @liability.liabilities_value %></dd>

      <dt>Net worth</dt>
      <dd>
        <% if @liability.net_worth.present? %>
          <a href="/net_worths/<%= @liability.net_worth_id %>">
            <%= @liability.net_worth.liabilities_id %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd><%= @liability.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/liabilities" class="btn btn-primary">
        Back
      </a>
      <a href="/liabilities/<%= @liability.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_liability/<%= @liability.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
