<!-- Validation failure messages -->
<% if @net_worth.errors.any? %>
  <% @net_worth.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Net Worth #<%= @net_worth.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_net_worth/<%= @net_worth.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for liabilities_id -->
      <div class="form-group">
        <label for="liabilities_id" class="control-label">
          Liabilities
        </label>

        <input type="text" id="liabilities_id" name="liabilities_id" placeholder="Liabilities" class="form-control" value="<%= @net_worth.liabilities_id %>">
      </div>

      <!-- Label and input for net_worth_total_id -->
      <div class="form-group">
        <label for="net_worth_total_id" class="control-label">
          Net worth total
        </label>

        <input type="text" id="net_worth_total_id" name="net_worth_total_id" placeholder="Net worth total" class="form-control" value="<%= @net_worth.net_worth_total_id %>">
      </div>

      <!-- Label and input for asset_total_id -->
      <div class="form-group">
        <label for="asset_total_id" class="control-label">
          Asset total
        </label>

        <input type="text" id="asset_total_id" name="asset_total_id" placeholder="Asset total" class="form-control" value="<%= @net_worth.asset_total_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @net_worth.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Net Worth
      </button>
      or
      <a href="/net_worths/<%= @net_worth.id %>">Cancel</a>
    </form>
  </div>
</div>
