<div class="page-header">
  <h1>
      <%= current_user.username %>'s Personal Financial Summary
  </h1>
</div>


<% if @user_number_net_worth == 0 %>
<h3> Welcome, create your first net worth: </h3>
  <a href="/net_worths/new" button type="button" class="btn btn-default btn-lg btn-success">Create Net Worth </button> </a>
<% else %>

<!-- <div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Net worth total</th>
        <th>Asset total</th>
        <th>Liabilities</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @net_worths.each do |net_worth| %>
      <tr>
        <td>$<%= @calculate_net_worth %></td>
        <td>$<%= @calculate_asset_total %></td>
        <td>$<%= @calculate_liability_total %></td>
        <td>
          <% if net_worth.user.present? %>
            <a href="/users/<%= net_worth.user.id %>">
              <%= net_worth.user.created_at %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/net_worths/<%= net_worth.id %>" class="btn btn-primary">Show</a>
          <a href="/net_worths/<%= net_worth.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_net_worth/<%= net_worth.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @net_worths, theme: 'twitter-bootstrap-4' %>
  </div>
</div> -->

<!-- Summary -->

<div class="row mt-2 mb-1">
  <div class="col-md-4">
    <div class="col-sm-12">
      <h1><p class="text-center">My Asset Total:</p>
        <p class="text-center">$<%= @calculate_asset_total %></p></h1>
        <p>
          <a href="/assets" button type="button" class="btn btn-default btn-lg btn-block">Go to Assets</button></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-sm-12">
        <h1><p class="text-center">My Liability Total:</p>
          <p class="text-center">$<%= @calculate_liability_total %></p></h1>
          <p>
          <a href="/liabilities" button type="button" class="btn btn-default btn-lg btn-block">Go to Liabilities</button></a>
        </div>
      </div>
        <div class="col-md-4">
          <div class="col-sm-12">
            <h1><p class="text-center">My Net Worth:</p>
              <p class="text-center">$<%= @calculate_net_worth %></p></h1>
                <p>
                <a href="/net_worths/2" button type="button" class="btn btn-primary btn-lg btn-block">Go to My Net Worth</button><a>

            </div>
          </div>
        </div>

        <% end %>
