<div class="page-header">
  <h1>
    Net worths
    <a href="/net_worths/new" class="btn btn-lg btn-success">New Net worth</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Liabilities</th>
        <th>Net worth total</th>
        <th>Asset total</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @net_worths.each do |net_worth| %>
      <tr>
        <td><%= net_worth.liabilities_id %></td>
        <td><%= net_worth.net_worth_total_id %></td>
        <td>$<%= @calculate_asset_total %></td>
        <td>
          <% if net_worth.user.present? %>
            <a href="/users/<%= net_worth.user.id %>">
              <%= net_worth.user.created_at %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/net_worths/<%= net_worth.id %>" class="btn btn-primary">Show</a>
          <a href="/net_worths/<%= net_worth.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_net_worth/<%= net_worth.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @net_worths, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
