<div class="page-header">
  <h3>Net Worth #<%= @net_worth.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Liabilities</dt>
      <dd><%= @net_worth.liabilities_id %></dd>

      <dt>Net worth total</dt>
      <dd><%= @net_worth.net_worth_total_id %></dd>

      <dt>Asset total</dt>
      <dd><%= @net_worth.asset_total_id %></dd>

      <dt>User</dt>
      <dd><%= @net_worth.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/net_worths" class="btn btn-primary">
        Back
      </a>
      <a href="/net_worths/<%= @net_worth.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_net_worth/<%= @net_worth.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Net worth has many liabilities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Liabilities
      </li>

      <% @net_worth.liabilities.each do |liability| %>
        <li class="list-group-item">
          <a href="/liabilities/<%= liability.id %>">
            <%= liability.liabilities_type_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/liabilities/<%= liability.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/liabilities/<%= liability.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_liability/<%= liability.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Net worth has many assets -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Assets
      </li>

      <% @net_worth.assets.each do |asset| %>
        <li class="list-group-item">
          <a href="/assets/<%= asset.id %>">
            <%= asset.asset_type_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/assets/<%= asset.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/assets/<%= asset.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_asset/<%= asset.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
