<div class="row">
  <div class="col-md-12 mb-2">
      <dd>
        <% if @net_worth.user.present? %>
        <h1> Welcome,
        <a href="/users/<%= @net_worth.user_id %>">
          <%= current_user.email %>!</h1>
        </a>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<hr>

<!-- Summary -->
<div class="row mt-2 mb-1">
  <div class="col-md-4">
    <div class="col-sm-12">
      <h1><p class="text-center">My Asset Total:</p>
        <p class="text-center">$<%= @calculate_asset_total %></p></h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-sm-12">
        <h1><p class="text-center">My Liability Total:</p>
          <p class="text-center">$<%= @calculate_liability_total %></p></h1>
        </div>
      </div>
        <div class="col-md-4">
          <div class="col-sm-12">
            <h1><p class="text-center">My Net Worth:</p>
              <p class="text-center">$<%= @calculate_net_worth %></p></h1>
            </div>
          </div>
        </div>

<!-- A Net worth has many assets -->

<div class="row mt-2 mb-1">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            Assets Total: $<%= @calculate_asset_total %>
          </li>

          <% @net_worth.assets.each do |asset| %>
          <li class="list-group-item">
            <a href="/assets/<%= asset.id %>">
            <%= asset.asset_type.name %>
            $<%= asset.asset_value %>
              </a>
            <div class="btn-group btn-group-xs pull-right">

              <a href="/assets/<%= asset.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_asset/<%= asset.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </li>
          <% end %>

          <li class="list-group-item">
            <form action="/create_asset" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


              <!-- Label and input for asset_type_id -->
              <div class="form-group">
                <label for="asset_type_id" class="control-label">
                  Asset type
                </label>

                <%= select_tag(:asset_type_id, options_from_collection_for_select(AssetType.all, :id, :name), :class => "form-control") %>
              </div>

              <!-- Label and input for asset_value -->
              <div class="form-group">
                <label for="asset_value" class="control-label">
                  Asset value
                </label>

                <input type="text" id="asset_value" name="asset_value" placeholder="Asset value" class="form-control" value="">
              </div>

              <!-- Label and input for user_id -->
              <div class="form-group">
                <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
              </div>

              <!-- Label and input for net_worth_id -->
              <div class="form-group">
                <label for="net_worth_id" class="control-label">
                  Net worth
                </label>

              <%= select_tag(:net_worth_id, options_from_collection_for_select(NetWorth.all, :id, :user_id), :class => "form-control") %>
              </div>

              <button class="btn btn-block btn-success">
                Create Asset
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- A Net worth has many liabilities -->
  <div class="row mt-2 mb-1">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">
              Liabilities Total: $<%= @calculate_liability_total %>
            </li>

            <% @net_worth.liabilities.each do |liability| %>
            <li class="list-group-item">
              <a href="/liabilities/<%= liability.id %>">
              <%= liability.liabilities_type.name %>
              $<%= liability.liabilities_value %>
                </a>
              <div class="btn-group btn-group-xs pull-right">
                </a>
                <a href="/liabilities/<%= liability.id %>/edit" class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </a>
                <a href="/delete_liability/<%= liability.id %>" class="btn btn-danger" rel="nofollow">
                  <i class="fa fa-trash-o"></i>
                </a>
              </div>
            </li>
            <% end %>

            <li class="list-group-item">
              <form action="/create_liability" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <!-- Label and input for liabilities_type_id -->
                <div class="form-group">
                  <label for="liabilities_type_id" class="control-label">
                    Liabilities type
                  </label>

                  <%= select_tag(:liabilities_type_id, options_from_collection_for_select(LiabilityType.all, :id, :name), :class => "form-control") %>
                </div>

                <!-- Label and input for liabilities_value -->
                <div class="form-group">
                  <label for="liabilities_value" class="control-label">
                    Liabilities value
                  </label>

                  <input type="text" id="liabilities_value" name="liabilities_value" placeholder="Liabilities value" class="form-control" value="">
                </div>

                <!-- Label and input for user_id -->
                <div class="form-group">
                  <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
                </div>

                <!-- Label and input for net_worth_id -->
                <div class="form-group">
                  <label for="net_worth_id" class="control-label">
                    Net worth
                  </label>

                  <%= select_tag(:net_worth_id, options_from_collection_for_select(NetWorth.all, :id, :liabilities_id), :class => "form-control") %>
                </div>

                <button class="btn btn-block btn-success">
                  Create Liability
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Net worth total -->
    <div class="row mt-2 mb-1">
      <div class="col-md-4">
        <div class="row">
          <div class="col-sm-12">
            <h1><p class="text-center">Net Worth Total:</p>
              <p class="text-center">$<%= @calculate_net_worth %></p></h1>
            </div>
          </div>
        </div>
      </div>
