<div class="page-header">
  <h3>Net Worth #<%= @net_worth.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Liabilities</dt>
      <dd><%= @net_worth.liabilities_id %></dd>

      <dt>Net worth total</dt>
      <dd><%= @net_worth.net_worth_total_id %></dd>

      <dt>Asset total</dt>
      <dd><%= @net_worth.asset_total_id %></dd>

      <dt>User</dt>
      <dd><%= @net_worth.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/net_worths" class="btn btn-primary">
        Back
      </a>
      <a href="/net_worths/<%= @net_worth.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_net_worth/<%= @net_worth.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
