<div class="page-header">
  <h1>
    Asset types
    <a href="/asset_types/new" class="btn btn-lg btn-success">New Asset type</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>

      <% @asset_types.each do |asset_type| %>
      <tr>
        <td><%= asset_type.name %></td>
        <td>
          <a href="/asset_types/<%= asset_type.id %>" class="btn btn-primary">Show</a>
          <a href="/asset_types/<%= asset_type.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_asset_type/<%= asset_type.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @asset_types, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
