<!-- Validation failure messages -->
<% if @asset.errors.any? %>
  <% @asset.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Asset #<%= @asset.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_asset/<%= @asset.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for asset_type_id -->
      <div class="form-group">
        <label for="asset_type_id" class="control-label">
          Asset type
        </label>

        <input type="text" id="asset_type_id" name="asset_type_id" placeholder="Asset type" class="form-control" value="<%= @asset.asset_type_id %>">
      </div>

      <!-- Label and input for asset_value -->
      <div class="form-group">
        <label for="asset_value" class="control-label">
          Asset value
        </label>

        <input type="text" id="asset_value" name="asset_value" placeholder="Asset value" class="form-control" value="<%= @asset.asset_value %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @asset.user_id %>">
      </div>

      <!-- Label and input for net_worth_id -->
      <div class="form-group">
        <label for="net_worth_id" class="control-label">
          Net worth
        </label>

        <input type="text" id="net_worth_id" name="net_worth_id" placeholder="Net worth" class="form-control" value="<%= @asset.net_worth_id %>">
      </div>

      <button class="btn btn-warning">
        Update Asset
      </button>
      or
      <a href="/assets/<%= @asset.id %>">Cancel</a>
    </form>
  </div>
</div>
