<div class="page-header">
  <h1>
    My Assets
  </h1>
</div>

<div class="row mt-2 mb-1">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <h3>Asset Summary $<%= @calculate_asset_total %> </h3>
          </li>
          <% @assets.each do |asset| %>
          <li class="list-group-item">
            <%= asset.asset_type.name %>
            $<%= asset.asset_value %></td>
            <div class="btn-group btn-group-xs pull-right">
              <a href="/assets/<%= asset.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_asset/<%= asset.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </li>
          <% end %>

<hr>

<div class = "row">
<a href="/assets/new" class="btn btn-md btn-success">Create a New Asset</a>
<a href="/net_worths/2" class="btn btn-md btn-default">What is my Net Worth?</a>
</div>

    <%= paginate @assets, theme: 'twitter-bootstrap-4' %>
  </div>

</div>
