<div class="page-header">
  <h1>
    Assets
    <a href="/assets/new" class="btn btn-lg btn-success">New Asset</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Asset type</th>
        <th>Asset value</th>
        <th>User</th>
        <th>Net worth</th>
        <th>Actions</th>
      </tr>

      <% @assets.each do |asset| %>
      <tr>
        <td>
          <% if asset.asset_type.present? %>
            <a href="/asset_types/<%= asset.asset_type.id %>">
              <%= asset.asset_type.name %>
            </a>
          <% end %>
        </td>
        <td><%= asset.asset_value %></td>
        <td><%= asset.user_id %></td>
        <td>
          <% if asset.net_worth.present? %>
            <a href="/net_worths/<%= asset.net_worth.id %>">
              <%= asset.net_worth.liabilities_id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/assets/<%= asset.id %>" class="btn btn-primary">Show</a>
          <a href="/assets/<%= asset.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_asset/<%= asset.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @assets, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
