<div class="page-header">
  <h3>Asset #<%= @asset.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Asset type</dt>
      <dd>
        <% if @asset.asset_type.present? %>
          <a href="/asset_types/<%= @asset.asset_type_id %>">
            <%= @asset.asset_type.name %>
          </a>
        <% end %>
      </dd>

      <dt>Asset value</dt>
      <dd><%= @asset.asset_value %></dd>

      <dt>User</dt>
      <dd><%= @asset.user_id %></dd>

      <dt>Net worth</dt>
      <dd>
        <% if @asset.net_worth.present? %>
          <a href="/net_worths/<%= @asset.net_worth_id %>">
            <%= @asset.net_worth.liabilities_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/assets" class="btn btn-primary">
        Back
      </a>
      <a href="/assets/<%= @asset.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_asset/<%= @asset.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
